.Login-container {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    text-align: center;

    .Login-title {
        color: gold;
    }

    .Login-subtitle {
        color: #333;
    }

    .Login-description {
        color: #666;
    }

    .Login-form {
        display: flex;
        flex-direction: column;

  

        .Login-links {
            margin-top: 10px;

            .link {
                color: blue;
                text-decoration: none;
            }
        }
    }

    .Login-footer {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .select {
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 5px;
        }

        .link {
            color: blue;
            text-decoration: none;
        }
    }
}
.no-outline .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: transparent;
}